html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  position: relative;
}

.intrecci img {
position: relative;
max-width: 200px;
padding-top: 50px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbarMain {
  position: fixed;
  width: fill-available;
  width: -webkit-fill-available;
  /*background-color: rgba(255, 255, 255, 0.24);*/
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 20px;
  z-index: 9999;
  /*-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);*/
}

.navbarMain a{
  color: white;
  font-size: 25px;
}
.ontop{
  background-color: black;
}

.ontop1 {
  color: red;
}

.navbarMainMenu {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 65%;
}

.navbarMainMenu li {
  display: inline-block;
  font-size: 30px;
}

.navbarMainMenu li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background-color: white;
  margin-top: 3px;
  transition: 0.3s ease-in-out;
}

.navbarMainMenu li a:hover::after {
  width: 100%;
}

.navbarMainSocial {
  justify-self: right;
  display: flex;
  padding: 0;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
  width: 20%;
}

.navbarMainSocial a{
  font-size: 25px;
}

.navbarMainSocial a:hover{
  color: white;
}

.navbarMainSocial li {
  display: inline-block;
}

.frontImg {
  background-image: url(capelli9.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh
}

.frontImgSVG {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:30%;
  transform-style: inherit;
}

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgba(255,255,255,0);
  }

  100% {
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgba(255,255,255,0);
  }

  100% {
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
  }
}

path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 10;
  -webkit-animation: dash 3s cubic-bezier(0,0.23,1,.1);
          animation: dash 3s cubic-bezier(0,0.23,1,.1);
}

.contentWrapper {
  width: 100%;
  background-color: white;
}

.header2 {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  height: 300px;
}

hr{
width: 600px;
margin-top: 5px;
margin-bottom: 5px;
}

.cityNavigation {
  text-align: center;
}

.cityNavigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.cityNavigation ul li {
  display: inline-block;
  width: 216px;
  height: 20px;
  line-height: 20px;
  position: relative;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.dropMenu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
  z-index: 10;
}

.cityNavigation ul li .dropMenu li {
  /* colore quando del link non hoverato */
  background-color: grey;
  color: rgba(255, 255, 255, 1);
  height: 50px;
  line-height: 50px;
}
#comoBtn:hover, #milanoBtn:hover, #perugiaBtn:hover{
  color: #D55E2D;
}
#menu-1, #menu-2, #menu-3 {
  display: none;
}

#comoBtn:hover > #menu-1 {
  display: block;
}

#milanoBtn:hover > #menu-2 {
  display: block;
}

#perugiaBtn:hover > #menu-3 {
  display: block;
}

.cityNavigation ul li .dropMenu li:hover {
  background-color: #193441;
}

.coverSlideshow {
  margin-top: 28px;
  background-color: #193441;
  overflow: hidden;
}

.slider {
  width: 100vw;
  margin: 0;
  position: relative;
  height: 65%;
  background-position: center center;
  background-size: cover;
}

#box {
  height: 600px;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 0;
  top: 0;
  background-position:center center;
  background-size: cover;
}

#box img{
height: 900px;
width: 100%;
position: relative;
left: 50%;
transform: translate(-50%);
display: none;
background-position:center center;
background-size: cover;
}

.active {
  display: inline-block!important;
}

.next{
  padding: 20px;
  font-size: 26px;
  border: none;
  background-color: grey;
  color: white;
  position: relative;
  left: 100%;
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  transform: translate(-200%, -285px);

}
.prev{
  left: 0px;
  top:45%;
  border-radius: 0px 8px 8px 0px;
  padding: 20px;
  font-size: 26px;
  border: none;
  background-color: grey;
  color: white;
  position: relative;
  transform: translate(0%, -285px);
  cursor: pointer;
}

.prev:hover {
  background-color: #193441;
}

.next:hover{
  background-color: #193441;
}

.cover-scritta-copy {
display: table-cell;
vertical-align: middle;
text-align: center;
justify-content: center;

}

.click{
display:inline-block;
background: white;
padding: 10px 20px;
border-radius: 3px;
text-decoration: none;
}

.citazione{
position: relative;
left: 50%;
width: 100vw;
transform: translate(-50%);

}
.citazione-blocco{
border: 1px solid white;
max-width: 100%;
margin: 40px auto;
background-color: #FFFFFF;
margin-left: 20px;
margin-right:20px;
border-radius: 15px;
padding-left:10px
padding-right: 10px;
text-align: center;
justify-content: center;
}

h3 {
font-style: italic;
}


.card{
  width: 300px;
  height: auto;
  background-color: white;
  padding: 0px;

}

.card:hover{
  background-color: #CACBD5;
}

.card-image{
width: 350px;
height: 200px;
margin-top: 0px;
}

.card-testo{
padding: 5px 20px;

}

.card-testo h3{
      margin-bottom: 10px;
      margin-top: 5px;
      color: #D55E2D;
}

.card-testo p3{
  margin-top: 10px;
  font-size: 11px;
  color: black;
  font-family: "Courier New";
  margin-bottom: 10px;

}

.card-testo p2{
margin-top: 10px;
font-size: 14px;
margin-bottom: 20px;
}



.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 900px;
  position: relative;
  grid-gap: 10px;
  margin: 10px auto;
  padding-bottom: 50px;
}

.immagine {
  height: 200px;
  width: 100%;
  background-size: cover;

}

.img1{
  background-image: url(capelli9.jpg);
}

.img2{
  background-image: url(carcere_15.jpg);
}

.img3{
  background-image: url(arte-migrante_2.jpg);
}

.img4{
  background-image: url(billo_23.jpg);
}

.img5{
  background-image: url(alfabeti.jpg);
}

.img6{
  background-image: url(perugia.jpg);
}

.footer {
  background-color: #3D4252;
  height: 50px;
  padding: 12px;
  margin-top: 100px;
  position: relative;
  bottom: 0;
}

.inizio{
  width: 100%;
  height: 50vh;
  margin: 0px;
  margin-bottom: 70px;
  position: relative;
  background-position: center center;

}
p3{
  font-family: "Courier New";
}

.img7 {
  background-image: url(billo_3.jpg);
  height: 400px;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;
  margin-bottom: 60px;
}

.testo{
  background-color: white;
  margin: 0px auto;
  max-width: 800px;
  margin-top: -150px;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}


.prog {
  font-size: 45px;
  text-align: center;
  margin-top: 10px;
  color: #D55E2D;
}

.dichiarazione{
  margin: 10px auto;
  text-align: justify;
  font-size: 18px;
  padding: 20px 40px;
  line-height: 1.4;

}

.img8 {
  background-image: url(capelli_13.jpg);
  height: 50vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;

}

.gallerria{
  height: 300px;
  max-width: 700px;
  background-position: center center;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  cursor: pointer;
}

.img9{
  background-image: url(capelli_15.jpg);
  height: 300px;
  background-size: cover;
  position: relative;

}

.img10{
  background-image: url(capelli_6.jpg);
  height: 300px;
  background-size: cover;
  position: relative;

}

.img11{
  background-image: url(capelli_2.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}


.img12{
  background-image: url(carcere_4.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  z-index: -1;
}

.img13{
  background-image: url(carcere_18.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img14{
  background-image: url(carcere_1.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img15{
  background-image: url(carcere_13.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img16{
  background-image: url(16.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;
}

.img17{
  background-image: url(billo_1.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img18{
  background-image: url(sara_1.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img19{
  background-image: url(billo.jpg);
  height: 300px;
  background-size: cover;
  position: relative;

}

.img20{
  background-image: url(cover.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;
}

.img21{
  background-image: url(billo_5.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img22{
  background-image: url(billo_15.jpg);
  height: 300px;
  background-size: cover;
  position: relative;

}

.img23{
  background-image: url(billo_18.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
  }

.img24{
  background-image: url(alfabeti1.jpg);
  align-content: center;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;

  z-index: -1;
}

.img25{
  background-image: url(alfabeti2.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img26{
  background-image: url(alfabeti3.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img27{
  background-image: url(alfabeti4.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img28{
  background-image: url(perugia1.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;
}

.img29{
  background-image: url(perugia2.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img30{
  background-image: url(perugia3.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}

.img31{
  background-image: url(fede.jpg);
  position: relative;
}

.img32{
  background-image: url(mattia.jpg);
  position: relative;
}

.img33{
  background-image: url(sara.jpg);
  position: relative;
}

.img34{
  background-image: url(perugia4.jpg);
  height: 300px;
  background-size: cover;
  position: relative;
}


.slideshow{
  position: relative;
  left: calc(50% - 170px);
  top: -50%;
  width: 340px;
  height: 450px;
  z-index: 2;
}
.noshow {
  display: none;
}
.galleriatext{
font-size: 60px;
text-align: center;
margin-top: 70px;
color: #D55E2D;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 12px;
    margin: 30px auto;
    margin-bottom: 30px;
    max-width: 1200px;
    padding-top: 80px;
}
.box {
  min-height: 100px;
}

.box1{
  background-image: url(uno.jpg);
  background-size: cover;
  grid-column: 1/3;
  grid-row: 1/4;
}

.box2{
  background-image: url(2.jpg);
  background-size: cover;
  grid-column: 3/7;
  grid-row: 1/3;
}

.box3{
  background-image: url(3.jpg);
  background-size: cover;
  grid-column: 3/5;
  grid-row: 3/5;
}

.box4{
  background-image: url(4.jpg);
  background-size: cover;
  grid-column: 5/7;
  grid-row: 3/5;
}

.box5{
  background-image: url(5.jpg);
  background-size: cover;
  grid-column: 1/3;
  grid-row: 4/5;
}

.box6{
  background-image: url(6.jpg);
  background-size: cover;
  grid-column: 1/4;
  grid-row: 5/7;
  background-position: center;
}

.box7{
  background-image: url(7.jpg);
  background-size: cover;
  grid-column: 4/7;
  grid-row: 5/8;
}

.box8{
  background-image: url(8.jpg);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 7/9;
}

.box9{
  background-image: url(9.jpg);
  background-size: cover;
  grid-column: 1/3;
  grid-row: 7/10;
}

.box10{
  background-image: url(10.jpg);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 9/10;
}

.box11{
  background-image: url(11.jpg);
  background-size: cover;
  grid-column: 4/6 ;
  grid-row: 8/10;
}

.box12{
  background-image: url(12.jpg);
  background-size: cover;
  grid-column: 6/7 ;
  grid-row: 8/11;}

  .box13{
    background-image: url(13.jpg);
    background-size: cover;
    grid-column: 1/4 ;
    grid-row: 10/11;
  }
  .box14{
    background-image: url(14.jpg);
    background-size: cover;
    grid-column: 4/6 ;
    grid-row: 10/11;

  }
  .box15{
    background-image: url(15.jpg);
    background-size: cover;
    grid-column: 1/7 ;
    grid-row: 11/15;
    background-position: center;
  }

  .box16{
    background-image: url(16.jpg);
    background-size: cover;
    grid-column: 1/3 ;
    grid-row: 15/17;
  }

  .box17{
    background-image: url(17.jpg);
    background-size: cover;
    grid-column: 3/7;
    grid-row: 15/18;
    background-position: center;
  }
  .box18{
    background-image: url(18.jpg);
    background-size: cover;
    grid-column: 1/3 ;
    grid-row: 17/21;
    background-position: center;
  }

  .box19{
    background-image: url(19.jpg);
    background-size: cover;
    grid-column: 3/5;
    grid-row: 18/21;
    background-position: center;
  }

  .box20{
    background-image: url(20.jpg);
    background-size: cover;
    grid-column: 5/7;
    grid-row: 18/21;
    background-position: center;
  }
